common --enable_bzlmod
common --registry=https://raw.githubusercontent.com/xoxd-ai/bazel-registry/main
common --registry=https://bcr.bazel.build

build --jobs=auto
build --worker_sandboxing
build --disk_cache=~/.cache/bazel-tinyland-security
build --show_timestamps
build --@aspect_rules_ts//ts:skipLibCheck=always

test --test_output=errors
test --test_timeout=120,600,1800,3600

build:ci --color=no
build:ci --curses=no
build:ci --noshow_loading_progress
test:ci --test_output=errors

try-import %workspace%/user.bazelrc
